<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>TowBuddy</strong></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#"> Hi <%= @current_user.first_name %></a></li>
        <li> <%= link_to 'Get towed', show_path %> </li>
        <li><%= link_to 'Sign Out', sign_out_path, method: :post %></li>
<li>
        <div class="by-zip">

          <input type="txt" name="name" value="" placeholder="enter zip"/>
          <button type="submit" name="button">search</button>
        </div>
</li>

      </ul>
    </div>
  </div>
</nav>




        <div id="map" style='width: 100%; height: 400px;'></div>



<script type="text/javascript">
$(document).on("ready",function(){
  var currentMarers = []
  handler = Gmaps.build('Google');
  handler.buildMap(
     {
      provider: {
        panControl: true,
        zoom: 5
      },
      internal: {
        id: 'map'
      }
    },
    function(){
      if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
      // search/lat,lng
      function displayOnMap(position){
        console.log(position)
        var lt = position.coords.latitude
        var ln = position.coords.longitude

        var marker = handler.addMarker({
           lat: lt,
           lng: ln,
           picture: {
                url: "http://i.imgur.com/CDsZ8JC.png",
                width: 36,
                height: 36
              },
              infowindow: "you are here!"
        });
        handler.map.centerOn(marker);
        $.getJSON("api/service_providers?lat="+ lt +"&lng=" + ln).then(function(myApiData){
          var markers = handler.addMarkers(myApiData.gmaps_data);
          currentMarkers = markers
          handler.bounds.extendWith(currentMarkers);
          handler.fitMapToBounds();
        })
      };
  });
  $('.by-zip button').on("click", function(evt){
    var $inputEl = $('.by-zip input')
    console.log(evt.target)
    var userZip = $inputEl.val()
    $.getJSON("api/service_providers?post_code="+userZip).then(function(myApiData){
      console.log(myApiData)
      console.log(currentMarkers)
      handler.buildMap(
         {
          provider: {
            panControl: true,
            zoom: 5
          },
          internal: {
            id: 'map'
          }
        }, function(){
          console.log('building map.....')
          console.log(currentMarkers[0])
          var geoLocationPt1 = myApiData.gmaps_data[0]
          var marker1 = handler.addMarker(geoLocationPt1);
          handler.map.centerOn(marker1);
          currentMarkers = handler.addMarkers(myApiData.gmaps_data);
          handler.bounds.extendWith(currentMarkers);
          handler.fitMapToBounds();
        })
    })
    })
})
  //1) get the geocoordinateposition (w/ navigator.geolocation.getCurrentPosition(fn()...) )
  //2) once geocoords obtained, make ajax request with jquery PASSING in the geocoords as params
  //     - In Rails
  //         - setup route to receive ajax request --- route should have lat/long data in params
  //         - build a controller#action that will handle the new route
  //         - controller#action will use the `Yelp` class from the gem to query the yelp api
  //         -
  //3) handle promise with building the map.
</script>
